{
  "openapi": "3.1.0",
  "info": {
    "title": "APM Ninja OTLP Ingestion API",
    "description": "OpenTelemetry Protocol (OTLP) endpoints for ingesting traces, metrics, and logs into APM Ninja. These endpoints accept protobuf-encoded OTLP export requests as defined in the OpenTelemetry specification.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://otlp.apmninja.com",
      "description": "Production OTLP ingestion endpoint"
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "paths": {
    "/v1/traces": {
      "post": {
        "summary": "Ingest OTLP traces",
        "description": "Accepts OTLP trace data in protobuf format. This endpoint implements the OpenTelemetry Protocol specification for trace ingestion.",
        "operationId": "exportTraces",
        "requestBody": {
          "description": "OTLP ExportTraceServiceRequest encoded as protobuf",
          "required": true,
          "content": {
            "application/x-protobuf": {
              "schema": {
                "type": "string",
                "format": "binary",
                "description": "Protobuf-encoded ExportTraceServiceRequest message as defined in opentelemetry/proto/collector/trace/v1/trace_service.proto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Traces accepted successfully",
            "content": {
              "application/x-protobuf": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "description": "Protobuf-encoded ExportTraceServiceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request - malformed protobuf or invalid trace data"
          },
          "401": {
            "description": "Unauthorized - missing or invalid API key"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "apiKeyAuth": []
          }
        ]
      }
    },
    "/v1/metrics": {
      "post": {
        "summary": "Ingest OTLP metrics",
        "description": "Accepts OTLP metrics data in protobuf format. This endpoint implements the OpenTelemetry Protocol specification for metrics ingestion.",
        "operationId": "exportMetrics",
        "requestBody": {
          "description": "OTLP ExportMetricsServiceRequest encoded as protobuf",
          "required": true,
          "content": {
            "application/x-protobuf": {
              "schema": {
                "type": "string",
                "format": "binary",
                "description": "Protobuf-encoded ExportMetricsServiceRequest message as defined in opentelemetry/proto/collector/metrics/v1/metrics_service.proto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Metrics accepted successfully",
            "content": {
              "application/x-protobuf": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "description": "Protobuf-encoded ExportMetricsServiceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request - malformed protobuf or invalid metrics data"
          },
          "401": {
            "description": "Unauthorized - missing or invalid API key"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "apiKeyAuth": []
          }
        ]
      }
    },
    "/v1/logs": {
      "post": {
        "summary": "Ingest OTLP logs",
        "description": "Accepts OTLP logs data in protobuf format. This endpoint implements the OpenTelemetry Protocol specification for logs ingestion.",
        "operationId": "exportLogs",
        "requestBody": {
          "description": "OTLP ExportLogsServiceRequest encoded as protobuf",
          "required": true,
          "content": {
            "application/x-protobuf": {
              "schema": {
                "type": "string",
                "format": "binary",
                "description": "Protobuf-encoded ExportLogsServiceRequest message as defined in opentelemetry/proto/collector/logs/v1/logs_service.proto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Logs accepted successfully",
            "content": {
              "application/x-protobuf": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "description": "Protobuf-encoded ExportLogsServiceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request - malformed protobuf or invalid logs data"
          },
          "401": {
            "description": "Unauthorized - missing or invalid API key"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "apiKeyAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "API key for environment authentication. Can also be provided as a Bearer token in the Authorization header."
      }
    }
  }
}
